<div class="jumbotron">
    <h1 class="display-4">Ts Node CRUD!</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio numquam molestiae, sed velit iusto ad id vitae enim optio est voluptatibus at quaerat, possimus autem placeat, atque quibusdam commodi odit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nesciunt.</p>
    <a class="btn btn-primary btn-lg" href="/books" role="button">Books</a>
</div>