{{#each books}}
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h3>{{title}}</h3>
        </div>
        <div class="card-body">
            <p>Author: {{author}}</p>
            <span>{{isbn}}</span>
        </div>
    </div>
</div>
{{/each}}